@import "../../../assets/styles/variables";

h1 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}
h2 {
  font-size: 1.2rem;
}


.search {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 40%;
  transition: top 0.6s cubic-bezier(.85, .49, .08, .82) 0.4s;

  &.search-collapse {
    justify-content: center;

    input {
      animation: inputMoving 0.4s ease forwards;
      padding: 0;
    }

    svg {
      margin-left: 0;
    }
  }

  &.expand-search {
    input {
      animation: inputExpand 0.4s ease forwards;
      margin-right: 20px;
    }
  }
}


.search {
  input {
    width: 100%;
    font-size: 1.5rem;
    padding: 20px 20px;
    border: 1px solid rgba(204, 204, 204, 0.40);
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: $color-main;
    transition: padding 1s ease, border-color 0.18s ease-in-out;
    border-radius: 4px;

    &:focus, &:not(:placeholder-shown) {
      border-color: rgba(204, 204, 204);
    }
  }

  svg {
    cursor: pointer;
    padding: 15px;
    box-sizing: border-box;
    height: 71px;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.40);
    fill: rgba(204, 204, 204, 0.40);
    margin-left: 20px;

    &.svg-search {
      fill: none;
    }

    path {
      stroke: rgba(204, 204, 204, 0.40);
    }

    &:hover {
      border-color: rgba(204, 204, 204);

      path {
        stroke: rgba(204, 204, 204);
      }
    }
  }
}

.recommended {
  position: absolute;
  top: 36%;
  left: 5%;

  h1 {
    font-size: 1.7rem;
    font-weight: 400 ;
  }
}

.search-results {
  position: relative;
  top: 150px;
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.data-loaded {
    opacity: 1;
  }

  .movies-list {
  }
}

.no-results {
  position: absolute;
  top: 66%;
  left: 36%;
  transform: translateX(-50%);
}



@keyframes inputMoving {
  0% {
    width: 100%;
    padding: 20px;
  }

  50% {
    padding-left: 0;
    padding-right: 0;
  }

  100% {
    border: none;
    width: 0;
  }
}

@keyframes inputExpand {
  0% {
    width: 0;
    padding: 20px 0;
  }
  50% {
    padding-left: 0;
    padding-right: 0;
  }
  100% {
    width: 100%;
    padding: 20px;
  }
}

